{% extends  'base.html' %}
{%block title %}
welcome
{%endblock%}

{% block content %}

{% if apllicants|length == 0 %}
    <h1>There are no applicants</h1>
{% endif %}


{% for applicant in apllicants %}
<div style="margin: 30px; border:1px solid black;padding:10px">

    {% for data in applicant%}
    
    <p>Name: {{ data.Name }}</p>
    <p>Email: {{ data.Email }}</p>
    <p>Phone: {{ data.Phone_no }}</p>
    <a href="{% url 'aboutjobseeker'  data.id%}">viewdetails</a>
    <a>accept</a>
    <a>reject</a><br/>
    </div>
    {% endfor %}

   

{% endfor %}
        
{% endblock %}